@{
    ViewData["Title"] = "Home Page";
}

<div id="home" class="text-center">
    <h1 class="display-4">Wellcome to Crazy Software Developers Team</h1>
    <h3> we are located in Mohawk College </h3>
</div>
